[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
Environment="PATH=/opt/kubernetes/bin:$PATH"
ExecStart=/opt/kubernetes/bin/kube-proxy \
  --bind-address={{ ansible_default_ipv4.address }} \
  --cluster-cidr={{ kubernetes.cluster_cidr }} \
  --hostname-override={{ ansible_default_ipv4.address }} \
  --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig \
  --logtostderr=true \
  --v=2
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target